.imageWrapper{
    position: absolute;
    height: 200px;
    width: 200px;
    top:100px;
    left:40%;
    z-index: 1;
}
.profile{
    width: 200px;
    height: 200px;
    background-size: cover;
    position:absolute;
    z-index: 1;
    border-radius: 50%;
}
.icon{
    background-color:gray;
    border-radius: 50%;
    padding:5px;
    position: absolute;
    color:black;
    font-size: 20px;
    z-index: 1;
    bottom:10px;;
    right: 10px;
}
.cover{
    position: relative;
    background-image: url('../../images/cover.jpg');
    background-size: cover;
    height: 300px;
    width: 100%;
}

.cover-btn{
    font-size: small;
    position: absolute;
    right:10px;
    top:30%;
    font-size: 10px;
    
}
