@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

.post-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    border-radius: 15px !important;
    position: relative;
}
.card {
    margin-top: 10px;
    border: none;
    
}
.flag-modal{
    position: absolute;
    width: 20%;
    right:0px;
    top:50px;
    background-color: whitesmoke;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.flag-modal:hover{
    color: red;
}
.flag-modal p{
    margin: 0;
}
#post-header{
    width: 100%;
    justify-content: space-between;
}
.ellipsis {
    color: #a09c9c
}

hr {
    color: #a09c9c;
    margin-top: 4px;
    margin-bottom: 8px
}

.muted-color {
    color: #a09c9c;
    font-size: 13px
}

.ellipsis i {
    margin-top: 3px;
    cursor: pointer
}

.icons i {
    font-size: 25px
}

.icons .fa-heart {
    color: red
}

.icons .fa-smile-o {
    color: yellow;
    font-size: 29px
}

.rounded-image {
    border-radius: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px
}

.name {
    font-weight: 600
}

.comment-text {
    font-size: 12px
}

.status small {
    margin-right: 10px;
    color: blue
}

.form-control {
    border-radius: 26px;
}

.comment-input {
    position: relative;
    display: flex;

    justify-content: space-between;

}

.btn-comment{
    position: absolute;
    right: 10px;
    top:5px;
    height: 80%;
}
.hide-comments{
    display: flex;
    margin: 0;
    justify-content: center;
    color: grey;
    align-items: center;
    font-size: small;

}
.hide-comments:hover{
    color: blue;
}
.show-comment:hover{
    color:blue
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #8bbafe;
    outline: 0;
    box-shadow: none
}
.post-image{
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-radius: 30px;

}
.post-image img{
    width: 80%;
    border-radius: 30px;
}

.btn-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.styledBtns{
    width: 33.3%;
    background-color: transparent;
    font-size: small;
    border:none;
    display: flex;
    justify-content: center;
    color: grey;
}
.span{
    display: block;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.span-dislike{
    display: block;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.span-comment{
    display: block;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.span-comment:focus{
    font-weight: bold;
}


.clickedBtns{

    width: 33.3%;
    background-color:none;
    border-radius: 10px;
    font-size: small;
    border:none;
    display: flex;
    justify-content: center;
    color:blue;

}
.display-container{
    display: flex;
    width: 15%;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 0px;
}
.display-container p{
    margin: 0px;
    margin-left:10px ;
}
.display-container div{
    display: flex;
    height: fit-content;
    align-items: center;
}
.display-container .like{
    color:red;
}
.display-container .dislike{
    color:blue;
}