.section-suggestion{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    background-color: white;
    height: 50%;
    margin-top: 10px;
    border-radius: 10px;
    overflow-y: scroll;
    margin:10px 10px;
}
.suggestion-container{
    width: 80%;
}
.section-suggestion::-webkit-scrollbar{
    display: none;
}
input{
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    color: black;
}