.section-suggestion{
    width: 100%;
    background-color: white;
    height: 60%;
    margin-top: 10px;
    border-radius: 10px;
    overflow-y: scroll;
    margin:10px 10px;
}
.section-suggestion::-webkit-scrollbar{
    display: none;
}
input{
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    color: black;
}