._card{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height:70vh;
    border: none  !important;
    border-right: 1px solid beige !important;
    border-radius: 0 !important;
}


#btn-google{
    text-decoration: none;
    border:1px solid #EB72A8;
    padding: 10px;
    color:#EB72A8;
    border-radius: 25px;
}
#btn-google:hover{
    color: white;
    background-color: #EB72A8;
}