.right-links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;

}
.navbar-section{
    height: 10vh;

}
.navbar-section > div{
    height: 100%;

}
.navbar-section > div >nav{
 display: flex;
 align-items: center;
}
.brand{
    display: flex;
    
    align-items: center;
}
.right-links p{
    margin: 0;
}
.section-nav{
    height: 100%;
}
.right-links img{
    height: 40px;
    width: 40px;
}
.user-profile-pic{
    height: 20px;
    width: 20px;
    border-radius: 50%;
}